[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Base repository for IMAD V2 course application. PLEASE DO NOT submit PRs, or push to this git repository!
[access "refs/*"]
	owner = group user/BhuvaneshR
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/BhuvaneshR
	label-Verified = -1..+1 group user/BhuvaneshR
	push = group user/BhuvaneshR
	read = group user/BhuvaneshR
	rebase = group user/BhuvaneshR
	removeReviewer = group user/BhuvaneshR
	submit = group user/BhuvaneshR
[access "refs/heads/*"]
	create = group user/BhuvaneshR
	push = +force group user/BhuvaneshR
	pushMerge = group user/BhuvaneshR
	read = group user/BhuvaneshR
[access "refs/tags/*"]
	push = group user/BhuvaneshR
	push = +force group user/BhuvaneshR
